
:root {
    --primary-color: #3A0CA3;  /* Blue */ 
    --secondary-color: #7209B7; /* purple*/ 
    --text-color: #011627;        /* Black */
  }
  
  /* Headings */
  h1, h2, h3, h4, h5, h6 {
    color: var(--primary-color);
    font-family: "Times new roman", sans-serif; 
    margin-bottom: 1.5rem;
  }
  
  /* Paragraphs */
  p {
    color: var(--text-color);
    font-size: 16px;
    line-height: 1.5;
    margin-bottom: 1rem;
  }
  
  /* Social Media Links */
  .sociallinks a {
    text-decoration: none; 
    margin-right: 10px;
  }

  .hero {
    position: relative;
  }
  
  .hero img {
    display: block;
    width: 100%;
    height: auto;
  }
  
  .hero h1 {
    position: absolute;
     

  
    
  }
  
  .hero article {
    position: absolute;
    bottom: 20px;
    left: 20px;
    background-color: rgba(255, 255, 255, 0.904); /* Adjust opacity and color as needed */
    padding: 20px;
  }
  
  .hero article img {
    float: right;
    
  }

  header {
	margin: 1rem auto;
	display: grid;
	grid-template-columns: 120px 1fr 2fr;
	align-items: center;
	border-bottom: 1px solid #ccc;
	max-width: 1000px;
}

.logo img {
	margin: 0 0.25rem 0 1rem;
	width: 64px;
	height: auto;
}

h1 {
	font-size: 2rem;
	font-family: Acme, 'Times New Roman', sans-serif;
}

nav {
	text-align: right;
}

.navigation {
	display: flex;
	list-style: none;
}

.navigation li {
	flex: 1 1 100%;
}

.navigation a {
	display: block;
	color: navy;
	padding: 20px;
	text-decoration: none;
}

.navigation a:hover {
	color: tomato;
	font-weight: 700;
	text-decoration: underline;
}

